<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
</head>
<body>
    <h1>Funciona</h1>
    <a th:href="@{/formularioRegion}"><h2>Crear una region</h2></a><br> 
    <a th:href="@{/formularioMascota}"><h2>Crear una Mascota</h2></a><br>
    <a th:href="@{/formularioHumano}"><h2>Crear un Dueño</h2></a><br>
    <a th:href="@{/listarMascotaHumanos}"><h2>Lista de mascotas con dueños Activos</h2></a><br>
    <a th:href="@{/listarHumanos}"><h2>Lista de todos los dueños que permite cambiar si están activos o inactivos</h2></a><br>
    <a th:href="@{/eliminarRegion}"><h2>Eliminar una region</h2></a><br>
    <a th:href="@{/eliminarMascota}"><h2>Eliminar una Mascota</h2></a><br>

</body>
</html>